<ion-header>
	<ion-toolbar>
		<ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
		<ion-title slot="start" class="modal-title">{{Language.Title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label position="stacked">{{Language.lblContractor}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.Contractor" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.lblDeviceDescription}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.DeviceDescription" type="text"></ion-input>
		</ion-item>
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.lblVendorManager}}</ion-label>
			<ion-select [(ngModel)]="selectItem.VendorManager">
                <ion-select-option *ngFor="let item of selectItem.ListVerdorManager" [value]="item.UserId">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>	 -->
		<ion-item>
			<ion-label  position="stacked">{{Language.Area}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Area">
                <ion-select-option *ngFor="let item of ListArea" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>	
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.BoPhan}}</ion-label>
			<ion-select [(ngModel)]="selectItem.MaBoPhan">
                <ion-select-option *ngFor="let item of ListBoPhan" [value]="item.MaBoPhan">{{item.TenBoPhan}}</ion-select-option>
            </ion-select>
		</ion-item>	 -->
		<ion-item>
			<ion-label position="stacked">{{Language.WorkDescription}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.WorkDescription" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.Hazard}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.Hazard" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.controlmeasures}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.controlmeasures" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.lblnumofEmployees}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.numofEmployees" type="number"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.lblOtherSafe}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.OtherSafe" type="text"></ion-input>
		</ion-item>
		
		<ion-accordion-group>
			<ion-accordion value="first">
			  <ion-item slot="header" color="light">
				<ion-label>{{Language.Flat}}</ion-label>
			  </ion-item>
			  <div class="ion-padding" slot="content">
				<div class="item item-text-wrap">
					{{Language.Helmet}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Helmet"></ion-checkbox>
					</span>
				</div>
				
				<div class="item item-text-wrap">
					{{Language.Goggles}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Goggles"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Safetyshoes}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Safetyshoes"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Antinoisedevice}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Antinoisedevice"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Soldermask}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Soldermask"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Facemask}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Facemask"></ion-checkbox>
					</span>
				</div>
				
				<div class="item item-text-wrap">
					{{Language.Cutmask}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Cutmask"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Gloves}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Gloves"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Apron}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Apron"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Chemicalresistantsuit}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Chemicalresistantsuit"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Gasmasks}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Gasmasks"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Seatbelt}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Seatbelt"></ion-checkbox>
					</span>
				</div>

				<!-- <div class="item item-text-wrap">
					{{Language.Hazard}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Hazard"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.ControlMeasures}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.ControlMeasures"></ion-checkbox>
					</span>
				</div> -->
			  </div>
			</ion-accordion>
			
		  </ion-accordion-group>
	</ion-list>
</ion-content>
<ion-button (click)="save()">{{Language.lblSave}}</ion-button>