<ion-header>
	<ion-toolbar>
		<ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close()"><ion-icon name="arrow-back"></ion-icon></ion-button>
		<ion-title slot="start" class="modal-title">{{Language.Title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label class="title-chuan-doan" position="floating">{{Language.AssetId}}</ion-label>
			<ion-select [(ngModel)]="CurrentItem.AssetId">
                <ion-select-option *ngFor="let asset of selectItem.listAsset" [value]="asset.AssetID">{{asset.AssetName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">{{Language.InputDate}}</ion-label>
			
            
		</ion-item>
		<li-ionic4-datepicker [(ngModel)]="CurrentItem.InputDate" style="margin-left:15px"
        [inputDateConfig]="datePickerConfig"></li-ionic4-datepicker>
        <ion-item>
			<ion-label  position="floating">{{Language.OperatingID}}</ion-label>
			<ion-select [(ngModel)]="CurrentItem.OperatingID">
                <ion-select-option *ngFor="let operating of selectItem.listOperating" [value]="operating.OperatingId">{{operating.OperatingName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">{{Language.UMID}}</ion-label>
			<ion-select [(ngModel)]="CurrentItem.UMID">
                <ion-select-option *ngFor="let u of selectItem.listUM" [value]="u.UMID">{{u.UMName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="floating">{{Language.Value}}</ion-label>
            <ion-input type="number"   step='0.01' debounce="100" pattern="^\d*(\.\d{0,3})?$" [(ngModel)]="CurrentItem.Value"></ion-input>
		</ion-item>
        <ion-item>
			<ion-label  position="floating">{{Language.Note}}</ion-label>
			<ion-input  [(ngModel)]="CurrentItem.Note" type="text"></ion-input>
		</ion-item>
		
	</ion-list>
</ion-content>
<ion-button (click)="save()">{{Language.btnSave}}</ion-button>