.login-content{
    
    height: calc(100% - 197px);
    overflow: auto;
}

.login-text{
    color: white;
    text-align: center;
    background-color: green;
}
.login-header{
  height:150px ;
}
.login-footer{
    height:40px ;
}
.with-100{
    width: 100%;
}
