<ion-content  class="dsylenh"  scrollY="false">
	<ion-content class="detail-ylenh ylenh">
		<ion-refresher style="z-index:0" (ionRefresh)="doRefresh($event)">
			<ion-refresher-content pullingIcon="arrow-dropdown"
								   pullingText="Lấy dữ liệu mới"
								   refreshingSpinner="circles">
			</ion-refresher-content>
		</ion-refresher>
		<mat-accordion multi="true">
		<div class="list card ttcd" *ngFor="let item of selectItem.ListRequest" style="margin-bottom: 10px;">
			<mat-expansion-panel class="mat-panel" hideToggle="true" #xyz [expanded]="true"> 
				<mat-expansion-panel-header  style="height: 48px;"   >
					<mat-panel-title>
						<ion-icon class="ex-co-icon" *ngIf="!xyz.expanded" src="assets/icon/chevron-forward-outline.svg"></ion-icon>
						<ion-icon class="ex-co-icon" *ngIf="xyz.expanded" src="assets/icon/chevron-forward-outline_down.svg"></ion-icon>
						</mat-panel-title>
						<mat-panel-description class="more-popover">
							<ion-button *ngIf="(item.Status==3 && item.Requester==user.UserID) || (item.Status==1 && item.Requester==user.UserID) || (item.Status==9 && item.UserManage==user.UserID)" (click)="onVisible(item)" size="small" class="search" style="width: 50%;margin-right:5px;">{{ Language.lblVisible}}</ion-button>
							<ion-button (click)="onRequest(item)" size="small" class="search" style="width: 50%;">{{ Language.lblRequest}}</ion-button>
						</mat-panel-description>
				</mat-expansion-panel-header>
			<div class="item item-text-wrap">
                 {{Language.MTNRequestNum}}
				<span class="item-note">{{item.MTNRequestNum}}</span>
			</div>
			<div class="item item-text-wrap">
				<span>{{Language.lblMTNDeadLineDateTime}}</span>
				<span class="item-note">{{ item.MTNDeadLineDateTime | amDateFormat:'MM/DD/YYYY' }}</span>
			</div>
			
			<div class="item item-text-wrap">
				{{Language.Requester}}
				<span class="item-note">{{ item.Requester }}</span>
			</div>
			<div class="item item-text-wrap">
				{{Language.lblManagement}}
				<span class="item-note">{{ item.UserManage }}</span>
			</div>
			
			</mat-expansion-panel>
		</div>
		</mat-accordion>
	</ion-content>
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openInputRequest()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
