
  <ion-menu  no-padding contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{Language.MenuTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content no-padding>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let link of Permissions">
        <ion-item lines="none" [routerLink]="link.Url" [class.active-item]="link.Active" routerDirection="root">
          <ion-icon [name]="link.Icon" slot="start"></ion-icon>
          <ion-label>{{link.Title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item lines="none" (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>{{Language.LogoutTitle}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-icon name="home-outline" slot="start" style="padding-left:5px" (click)="onHome()"></ion-icon> -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="padding-inline: 0px !important" >{{Language.Title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  padding class="background-main ion-padding">
    <ion-router-outlet 
    ></ion-router-outlet>
  </ion-content>
  
</div>


