<ion-menu no-padding contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{Language.MenuTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content no-padding>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let link of Permissions">
        <ion-item lines="none" [routerLink]="link.Url" [class.active-item]="link.Active" routerDirection="root">
          <ion-icon [name]="link.Icon" slot="start"></ion-icon>
          <ion-label>{{link.Title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-item lines="none" (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>{{Language.LogoutTitle}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" style="position: relative;" *ngIf="isOnMainPage">
        <ion-badge slot="start"
          style="position: absolute;top:0;left: 0;">{{TotalNotification==0?"":TotalNotification}}12</ion-badge>
        <ion-icon style="padding: 12px;" class="iconSize" src="assets/icon/notification.svg"
          (click)="btnNotification()"></ion-icon>
      </ion-buttons>

      <ion-buttons slot="start" style="position: relative;" *ngIf="!isOnMainPage">
        <ion-icon style="padding: 12px;" class="iconSize" src="assets/icon/notification.svg"
          (click)="onBack()"></ion-icon>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title style="padding-inline: 0px !important">{{Language.Title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content padding class="background-main ion-padding">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

</div>