<ion-header>
  <ion-toolbar>
    <ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title slot="start">Input Device parameter</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-content padding>
    <ion-grid class="grid-item">
      <ion-row>
        <ion-col class="column-item">

          <ion-item>
            <ion-label position="floating">Language.WorkNo</ion-label>
            <ion-input type="text" [(ngModel)]="CurrentItem.WorkNo" [disabled]="true"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col class="column-item">

          <ion-item>
            <ion-label position="floating">Language.RequestOrPlanNo</ion-label>
            <ion-input type="text" [(ngModel)]="CurrentItem.RequestOrPlanNo" [disabled]="true"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="column-item">

          <ion-item>
            <ion-label position="floating">Language.WorkDate</ion-label>
            <ion-input type="text" [(ngModel)]="CurrentItem.WorkDate" [disabled]="true"></ion-input>
          </ion-item>

        </ion-col>
        <ion-col class="column-item">

          <ion-item>
            <ion-label position="floating">Language.RequestedContent</ion-label>
            <ion-input type="text" [(ngModel)]="CurrentItem.RequestedContent" [disabled]="true"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label class="title-chuan-doan" position="floating">Language.Status</ion-label>
      <ion-select [(ngModel)]="CurrentItem.Status" (ionChange)="handleSelectStatus($event)">
        <ion-select-option *ngFor="let status of statuses"  [value]="status.statusId">{{status.statusName}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Language.VerifierInformation</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.VerifierInformation" [disabled]="isVerifierInformationDisabled" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Language.Reason</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.Reason" [disabled]="isReasonDisabled"></ion-input>
    </ion-item>
    
  </ion-content>
</ion-content>
<ion-button (click)="save()">{{Language.Save}}</ion-button>