<ion-header>
  <ion-toolbar>
    <ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close(false)">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title slot="start">{{Language.Title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-content padding>
    <ion-item>
      <ion-label position="floating">{{Language.WorkNo}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.WorkNo" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{Language.WorkDate}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.WorkDate" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{Language.DescriptionInformation}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.DescriptionInformation" [disabled]="true"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="floating">{{Language.Status}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.Status" [disabled]="true"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="floating">{{Language.Level}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.Level" [disabled]="true" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{Language.WorkerId}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.Worker" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{Language.Location}}</ion-label>
      <ion-input type="text" [(ngModel)]="CurrentItem.Location" [disabled]="true"></ion-input>
    </ion-item>
  </ion-content>
</ion-content>
<ion-footer style="display: flex;justify-content: center;">
	<!-- <ion-button color="danger" (click)="close()">{{Language.lblClose}}</ion-button> -->
	<ion-button (click)="onAssingerWork()" *ngIf="CurrentItem.UserLoginRole=='ADMIN'">{{Language.btnAssigned}}</ion-button>
	<ion-button (click)="onFinisherWork()" *ngIf="CurrentItem.UserLoginRole!='ADMIN'">{{Language.btnFinished}}</ion-button>
</ion-footer>
