
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.material {
    height: 550px

}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.li-ionic4-datePicker {


    .modal-wrapper {
      height: 75%;
      width: 310px;
      border-radius: 0px;
      @media (min-width: 768px) {
         width: 350px;
         height: 65%;
         margin-left: 10px;
      }
    }
  }
  .success-toast{
    color: #28a745!important;
  }
  .error-toast{
    color: red;
  }
  .warn-toast{
     color: orange;
  }
  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  .toast-bg {
    background-color:red;
  }
.modal-title{
  padding-inline: 0px !important;
  
}

.back-button{
 z-index: 999999;
}
.background-main ion-router-outlet{
    background-image: url(~src/assets/background_home.jpg) ;

    background-position: center;
    background-repeat: no-repeat;
 
   
  }

  .checkbox-icon { zoom : 0.6;}