<ion-header>
	<ion-toolbar>
		<ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
		<ion-title slot="start" class="modal-title">{{Language.Title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.WorkPermitNo}}</ion-label>
			<span class="item-note">{{ selectItem.Item.
				WorkPermitNo }}</span>
		</ion-item> -->
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.lblVendorManager}}</ion-label>
			<span class="item-note">{{ selectItem.Item.
				VendorManager }}</span>
		</ion-item> -->
		<ion-item>
			<ion-label  position="stacked">{{Language.lblContractor}}</ion-label>
			<span class="item-note">{{ selectItem.Item.Contractor }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.lblStatus}}</ion-label>
			<span class="item-note">{{ selectItem.Item.StatusText }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.Area}}</ion-label>
			<span class="item-note">{{ selectItem.Item.
				Area }}</span>
		</ion-item>
		
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.BoPhan}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.MaBoPhan" [disabled]="isBoPhan">
                <ion-select-option *ngFor="let item of selectItem.ListBoPhan" [value]="item.MaBoPhan">{{item.TenBoPhan}}</ion-select-option>
            </ion-select>
		</ion-item> -->
		<ion-item>
			<ion-label  position="stacked">{{Language.label1}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.ProjectManager" [disabled]="isProjectManager">
                <ion-select-option *ngFor="let item of selectItem.ListProjectManager" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.label2}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.ZoneManager" [disabled]="isZoleManager">
                <ion-select-option *ngFor="let item of selectItem.ListZoneManager" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.label4}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.SafeManager" [disabled]="isSaleManager">
                <ion-select-option *ngFor="let item of selectItem.ListSaleManager" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.DeviceDescription}}</ion-label>
			<span class="item-note">{{ selectItem.Item.DeviceDescription }}</span>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.WorkDescription}}</ion-label>
			<span class="item-note">{{ selectItem.Item.WorkDescription }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.Hazard}}</ion-label>
			<span class="item-note">{{ selectItem.Item.Hazard }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.controlmeasures}}</ion-label>
			<span class="item-note">{{ selectItem.Item.controlmeasures }}</span>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.numofEmployees}}</ion-label>
			<span class="item-note">{{ selectItem.Item.numofEmployees }}</span>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">{{Language.OtherSafe}}</ion-label>
			<span class="item-note">{{ selectItem.Item.OtherSafe }}</span>
		</ion-item>
		<ion-accordion-group>
			<ion-accordion value="first">
			  <ion-item slot="header" color="light">
				<ion-label>{{Language.Flat}}</ion-label>
			  </ion-item>
			  <div class="ion-padding" slot="content">
				<div class="item item-text-wrap">
					{{Language.Helmet}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Helmet" disabled="true"></ion-checkbox>
					</span>
				</div>
				
				<div class="item item-text-wrap">
					{{Language.Goggles}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Goggles" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Safetyshoes}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Safetyshoes" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Antinoisedevice}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Antinoisedevice" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Soldermask}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Soldermask" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Facemask}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Facemask" disabled="true"></ion-checkbox>
					</span>
				</div>
				
				<div class="item item-text-wrap">
					{{Language.Cutmask}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Cutmask" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Gloves}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Gloves" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Apron}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Apron" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Chemicalresistantsuit}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Chemicalresistantsuit" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Gasmasks}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Gasmasks" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.Seatbelt}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Seatbelt" disabled="true"></ion-checkbox>
					</span>
				</div>
				<!-- <div class="item item-text-wrap">
					{{Language.Hazard}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.Hazard" disabled="true"></ion-checkbox>
					</span>
				</div>
				<div class="item item-text-wrap">
					{{Language.controlmeasures}}
					<span class="item-note">
						<ion-checkbox slot="end" [(ngModel)]="selectItem.Item.controlmeasures" disabled="true"></ion-checkbox>
					</span>
				</div> -->
				
			  </div>
			</ion-accordion>
			
		  </ion-accordion-group>
		<ion-item>
			<ion-label  position="stacked">{{Language.CreateSentDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.CreateSentDate }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.ProjectSentApprovalDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.ProjectSentApprovalDate }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.ZoneSentApprovalDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.ZoneSentApprovalDate }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.SafeSentApprovalDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.SafeSentApprovalDate }}</span>
		</ion-item>
		
	</ion-list>
</ion-content>
<ion-footer style="display: flex;overflow-x: scroll;">
	<!-- <ion-button color="danger" (click)="close()">{{Language.lblClose}}</ion-button> -->

	<ion-button (click)="onImage()" *ngIf="isBtnEnable==true">{{Language.lblImage}}</ion-button>
	<ion-button (click)="onSend()" *ngIf="isSend=='1'">{{Language.lblSend}}</ion-button>
	<ion-button (click)="onApproval()" *ngIf="isApproval=='1'">{{Language.lblApproval}}</ion-button>
	<ion-button (click)="onNoApproval()" *ngIf="isApproval=='1'">{{Language.lblNoApproval}}</ion-button>
	<ion-button (click)="onCloseWork()" *ngIf="isCloseWorker=='1'">{{Language.lblCloseWork}}</ion-button>
	<ion-button (click)="onExtendWork()" *ngIf="isBtnEnable==true">{{Language.lblExtend}}</ion-button>
</ion-footer>
