<ion-header>
	<ion-toolbar>
		<ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close()"><ion-icon name="arrow-back"></ion-icon></ion-button>
		<ion-title slot="start" class="modal-title">{{Language.Title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.WorkPermitNo}}</ion-label>
			<span class="item-note">{{ selectItem.Item.
				WorkPermitNo }}</span>
		</ion-item> -->
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.lblVendorManager}}</ion-label>
			<span class="item-note">{{ selectItem.Item.
				VendorManager }}</span>
		</ion-item> -->
		<ion-item>
			<ion-label  position="stacked">{{Language.lblContractor}}</ion-label>
			<span class="item-note">{{ selectItem.Item.Contractor }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.lblStatus}}</ion-label>
			<span class="item-note">{{ selectItem.Item.StatusText }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.label1}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.ProjectManager" [disabled]="isProjectManager">
                <ion-select-option *ngFor="let item of selectItem.ListProjectManager" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.label2}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.ZoneManager" [disabled]="isZoleManager">
                <ion-select-option *ngFor="let item of selectItem.ListZoneManager" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.label4}}</ion-label>
			<ion-select [(ngModel)]="selectItem.Item.SafeManager" [disabled]="isSaleManager">
                <ion-select-option *ngFor="let item of selectItem.ListSaleManager" [value]="item.UserID">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.DeviceDescription}}</ion-label>
			<span class="item-note">{{ selectItem.Item.DeviceDescription }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.CreateSentDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.CreateSentDate }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.ProjectSentApprovalDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.ProjectSentApprovalDate }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.ZoneSentApprovalDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.ZoneSentApprovalDate }}</span>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.SafeSentApprovalDate}}</ion-label>
			<span class="item-note">{{ selectItem.Item.SafeSentApprovalDate }}</span>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer style="display: flex;overflow-x: scroll;">
	<!-- <ion-button color="danger" (click)="close()">{{Language.lblClose}}</ion-button> -->
	<ion-button (click)="onImage()">{{Language.lblImage}}</ion-button>
	<ion-button (click)="onSend()" *ngIf="isSend=='1'">{{Language.lblSend}}</ion-button>
	<ion-button (click)="onApproval()" *ngIf="isApproval=='1'">{{Language.lblApproval}}</ion-button>
	<ion-button (click)="onNoApproval()" *ngIf="isApproval=='1'">{{Language.lblNoApproval}}</ion-button>
	<ion-button (click)="onCloseWork()" *ngIf="isCloseWorker=='1'">{{Language.lblCloseWork}}</ion-button>
	<ion-button (click)="onExtendWork()" >{{Language.lblExtend}}</ion-button>
</ion-footer>
