<ion-header>
	<ion-toolbar>
		<ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close()"><ion-icon name="arrow-back"></ion-icon></ion-button>
		<ion-title slot="start">Input Request</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label class="title-chuan-doan" position="stacked">{{Language.WorkshopId}}</ion-label>
			<ion-select [(ngModel)]="selectItem.WorkshopId">
                <ion-select-option *ngFor="let workshop of WorkShops" [value]="workshop.workShopId">{{workshop.workShopName}}</ion-select-option>
            </ion-select>
		</ion-item>	
		
		<ion-item>
			<ion-label class="title-chuan-doan" position="stacked">{{Language.LocationId}}</ion-label>
			<ion-select [(ngModel)]="selectItem.LocationId">
                <ion-select-option *ngFor="let location of Locations" [value]="location.locationID">{{location.locationName}}</ion-select-option>
            </ion-select>
		</ion-item>	

		<ion-item>
			<ion-label  position="stacked">{{Language.WorkerName}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.WorkerName" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.RequestedContent}}</ion-label>
			<ion-textarea  [(ngModel)]="selectItem.RequestedContent" type="text"></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.Reason}}</ion-label>
			<ion-textarea  [(ngModel)]="selectItem.Reason" type="text"></ion-textarea>
		</ion-item>
	</ion-list>
</ion-content>
<ion-button (click)="save()">{{Language.Save}}</ion-button>