<ion-header>
	<ion-toolbar>
		<ion-button class="back-button" fill="clear" size="large" slot="start" (click)="close(false)"><ion-icon name="arrow-back"></ion-icon></ion-button>
		<ion-title slot="start" class="modal-title">{{Language.Title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label  position="stacked">{{Language.lblMTNDeadLineDateTime}}</ion-label>
			<ion-input
    			value="{{ selectItem.MTNDeadLineDateTime | amDateFormat:'MM/DD/YYYY hh:mm' }}"
				id="startDate"
				class="ion-text-end">
			</ion-input>
			<ion-popover trigger="startDate" size="cover">
				<ng-template>
					<ion-datetime  [(ngModel)]="selectItem.MTNDeadLineDateTime" [showDefaultButtons]="true"></ion-datetime>
				</ng-template>
			</ion-popover>
     	</ion-item> 
		
		<ion-item>
			<ion-label  position="stacked">{{Language.ZoneId}}</ion-label>
			<ion-select [(ngModel)]="selectItem.ZoneId">
                <ion-select-option *ngFor="let item of selectItem.ListZone" [value]="item.ZoneId">{{item.ZoneName}}</ion-select-option>
            </ion-select>
		</ion-item>	
		
		<ion-item>
			<ion-label  position="stacked">{{Language.lblDescriptionrequest}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.Descriptionrequest" type="text"></ion-input>
		</ion-item>
		
		 <ion-item>
			<ion-label  position="stacked">{{Language.Equipment}}</ion-label>
			<ion-input  [(ngModel)]="selectItem.Equipment" type="text"></ion-input>
		</ion-item>
		
		
		<ion-item>
			<ion-label  position="stacked">{{Language.lblType}}</ion-label>
			<ion-select [(ngModel)]="selectItem.MNType">
                <ion-select-option *ngFor="let item of ListType" [value]="item.TypeID">{{item.Type}}</ion-select-option>
            </ion-select>
		</ion-item>
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.Repair}}</ion-label>
			<ion-checkbox [(ngModel)]="selectItem.Repair"  class="checkbox-icon"></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.Projectsupporting}}</ion-label>
			<ion-checkbox [(ngModel)]="selectItem.Projectsupporting"  class="checkbox-icon"></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.Housekeeping}}</ion-label>
			<ion-checkbox [(ngModel)]="selectItem.Housekeeping"  class="checkbox-icon"></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label  position="stacked">{{Language.Others}}</ion-label>
			<ion-checkbox [(ngModel)]="selectItem.Others"  class="checkbox-icon"></ion-checkbox>
		</ion-item> -->
		<!-- <ion-item>
			<ion-label  position="stacked">{{Language.lblManagement}}</ion-label>
			<ion-select [(ngModel)]="selectItem.UserManage">
                <ion-select-option *ngFor="let item of selectItem.ListManagement" [value]="item.UserId">{{item.UserName}}</ion-select-option>
            </ion-select>
		</ion-item> -->
	</ion-list>
</ion-content>
<ion-button (click)="save()">{{Language.lblSave}}</ion-button>