.menu-ylenh {
    background-image: url(../../../assets/img/ChoYLenhThuoc.svg);
    background-size: contain;
    width: 60%;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-dichvu {
    background-image: url(../../../assets/img/ChiDinhDichVu.svg);
    background-size: contain;
    width:60%;
    height:60%;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-ky-phieu-cong-khai {
    background-image: url(../../../assets/img/XemHSBA.svg);
    background-size: contain;
    width: 60%;
    height:60%;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-hsba {
    background-image: url(../../../assets/img/XemKetQuaCLS.svg);
    background-size: contain;
    width: 60%;
    height:60%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-ketquacls { 
    background-image: url(../../../assets/img/KetQuaCLS.svg);
    background-size: contain;
    width: 60%;
    height:60%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-chamsoc {
    background-image: url(../../../assets/img/PhieuChamSoc.svg);
    background-size: contain;
    width: 60%;
    height:60%;
    background-repeat: no-repeat;
    background-position: center;
 }
.fab {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    
}

.fab-on {
    height: 100%;
    position: absolute;
}
.fab-off {

}
.example-boundary {
    width: 100%;
    height: 200px;
    /*border: dotted #ccc 2px;*/
}
.fab-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    /*--background: #3880ff73;*/
}

.fab-list {
    right: 8px;
    width: 100%;
}

.fab-grid {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fab-row {
    width: 100%;
}

.col-left {
    width: fit-content;
}

.col-right {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.y-lenh-icon {
    width: 30px;
}
